In [5]:
import pandas as pd
df=pd.read_csv("Hospital_Patient_Analytics.csv")
df.head()

,Patient_ID,Admission_Date,Discharge_Date,Department,Doctor,Treatment_Cost,Patient_Type
0,PAT2000,2024-02-01,2024-02-02,General,Dr. Singh,5443,Inpatient
1,PAT2001,2024-02-02,2024-02-08,Orthopedics,Dr. Rao,78993,Outpatient
2,PAT2002,2024-02-03,2024-02-15,Neurology,Dr. Rao,78916,Outpatient
3,PAT2003,2024-02-04,2024-02-09,Cardiology,Dr. Mehta,76319,Outpatient
4,PAT2004,2024-02-05,2024-02-19,Cardiology,Dr. Kumar,20368,Inpatient

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      150 non-null    object
 1   Admission_Date  150 non-null    object
 2   Discharge_Date  150 non-null    object
 3   Department      150 non-null    object
 4   Doctor          150 non-null    object
 5   Treatment_Cost  150 non-null    int64
 6   Patient_Type    150 non-null    object
dtypes: int64(1), object(6)
memory usage: 8.3+ KB

In [3]:
df.describe()

       Treatment_Cost
count      150.000000
mean     43081.973333
std      22957.642381
min       3126.000000
25%      22986.750000
50%      42950.500000
75%      62273.500000
max      79918.000000

In [6]:
#converting date columns to datetime
df['Admission_Date'] = pd.to_datetime(df['Admission_Date'])
df['Discharge_Date'] = pd.to_datetime(df['Discharge_Date'])
df

,Patient_ID,Admission_Date,Discharge_Date,Department,Doctor,Treatment_Cost,Patient_Type
0,PAT2000,2024-02-01,2024-02-02,General,Dr. Singh,5443,Inpatient
1,PAT2001,2024-02-02,2024-02-08,Orthopedics,Dr. Rao,78993,Outpatient
2,PAT2002,2024-02-03,2024-02-15,Neurology,Dr. Rao,78916,Outpatient
3,PAT2003,2024-02-04,2024-02-09,Cardiology,Dr. Mehta,76319,Outpatient
4,PAT2004,2024-02-05,2024-02-19,Cardiology,Dr. Kumar,20368,Inpatient
...,...,...,...,...,...,...,...
145,PAT2145,2024-06-25,2024-06-28,General,Dr. Kumar,45880,Inpatient
146,PAT2146,2024-06-26,2024-06-29,Orthopedics,Dr. Singh,26236,Inpatient
147,PAT2147,2024-06-27,2024-07-06,Neurology,Dr. Singh,18358,Inpatient
148,PAT2148,2024-06-28,2024-07-05,Neurology,Dr. Mehta,79918,Outpatient
149,PAT2149,2024-06-29,2024-07-04,Orthopedics,Dr. Mehta,17596,Outpatient

In [8]:
# setting addmission date of outpaitent equals to its discharde date
df.loc[
    df['Patient_Type'] == 'Outpatient',
    'Discharge_Date'] = df.loc[
    df['Patient_Type'] == 'Outpatient',
    'Admission_Date']
df

,Patient_ID,Admission_Date,Discharge_Date,Department,Doctor,Treatment_Cost,Patient_Type
0,PAT2000,2024-02-01,2024-02-02,General,Dr. Singh,5443,Inpatient
1,PAT2001,2024-02-02,2024-02-02,Orthopedics,Dr. Rao,78993,Outpatient
2,PAT2002,2024-02-03,2024-02-03,Neurology,Dr. Rao,78916,Outpatient
3,PAT2003,2024-02-04,2024-02-04,Cardiology,Dr. Mehta,76319,Outpatient
4,PAT2004,2024-02-05,2024-02-19,Cardiology,Dr. Kumar,20368,Inpatient
...,...,...,...,...,...,...,...
145,PAT2145,2024-06-25,2024-06-28,General,Dr. Kumar,45880,Inpatient
146,PAT2146,2024-06-26,2024-06-29,Orthopedics,Dr. Singh,26236,Inpatient
147,PAT2147,2024-06-27,2024-07-06,Neurology,Dr. Singh,18358,Inpatient
148,PAT2148,2024-06-28,2024-06-28,Neurology,Dr. Mehta,79918,Outpatient
149,PAT2149,2024-06-29,2024-06-29,Orthopedics,Dr. Mehta,17596,Outpatient

In [25]:
# finding minimum inpatient cost
min_inpatient_cost = df.loc[
    df['Patient_Type'] == 'Inpatient',
    'Treatment_Cost'
].min()
min_inpatient_cost

4759.0

In [27]:
# managing invalid outpatient cost ( outpatient_cost<inpatient_cost)
outpatient_cost = round(min_inpatient_cost * 0.7) # asuming that outpatient cost is 70% of minimum inpatient cost
df.loc[
    (df['Patient_Type'] == 'Outpatient') &
    (df['Treatment_Cost'] >= min_inpatient_cost),
    'Treatment_Cost'
] = outpatient_cost

df

,Patient_ID,Admission_Date,Discharge_Date,Department,Doctor,Treatment_Cost,Patient_Type,Admission_Month,Discharge_Month,Admissin_Year,Discharge_Year,Admission_Weekday,Discharge_Weekday,Is_Inpatient,Is_Outpatient
0,PAT2000,2024-02-01,2024-02-02,General,Dr. Singh,5443.0,Inpatient,February,February,2024,2024,Thursday,Friday,1,0
1,PAT2001,2024-02-02,2024-02-02,Orthopedics,Dr. Rao,3331.0,Outpatient,February,February,2024,2024,Friday,Friday,0,1
2,PAT2002,2024-02-03,2024-02-03,Neurology,Dr. Rao,3331.0,Outpatient,February,February,2024,2024,Saturday,Saturday,0,1
3,PAT2003,2024-02-04,2024-02-04,Cardiology,Dr. Mehta,3331.0,Outpatient,February,February,2024,2024,Sunday,Sunday,0,1
4,PAT2004,2024-02-05,2024-02-19,Cardiology,Dr. Kumar,20368.0,Inpatient,February,February,2024,2024,Monday,Monday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,PAT2145,2024-06-25,2024-06-28,General,Dr. Kumar,45880.0,Inpatient,June,June,2024,2024,Tuesday,Friday,1,0
146,PAT2146,2024-06-26,2024-06-29,Orthopedics,Dr. Singh,26236.0,Inpatient,June,June,2024,2024,Wednesday,Saturday,1,0
147,PAT2147,2024-06-27,2024-07-06,Neurology,Dr. Singh,18358.0,Inpatient,June,July,2024,2024,Thursday,Saturday,1,0
148,PAT2148,2024-06-28,2024-06-28,Neurology,Dr. Mehta,3331.0,Outpatient,June,June,2024,2024,Friday,Friday,0,1
149,PAT2149,2024-06-29,2024-06-29,Orthopedics,Dr. Mehta,3331.0,Outpatient,June,June,2024,2024,Saturday,Saturday,0,1

In [28]:
#checking(outpatient_cost<inpatient_cost)
df.groupby('Patient_Type')['Treatment_Cost'].describe()

,count,mean,std,min,25%,50%,75%,max
Patient_Type,,,,,,,,
Inpatient,74.0,39726.635135,21908.975408,4759.0,20980.0,40289.0,57589.25,79534.0
Outpatient,76.0,3345.592105,152.858905,3126.0,3331.0,3331.0,3331.00,4645.0

In [15]:
# cheking addmission and discharge dates of outpaitent
df[df['Patient_Type'] == 'Outpatient'][['Admission_Date','Discharge_Date']]

    Admission_Date Discharge_Date
1       2024-02-02     2024-02-02
2       2024-02-03     2024-02-03
3       2024-02-04     2024-02-04
5       2024-02-06     2024-02-06
7       2024-02-08     2024-02-08
..             ...            ...
137     2024-06-17     2024-06-17
138     2024-06-18     2024-06-18
142     2024-06-22     2024-06-22
148     2024-06-28     2024-06-28
149     2024-06-29     2024-06-29

[76 rows x 2 columns]

In [18]:
# extracting year month and day from date 
df['Admission_Month'] = df['Admission_Date'].dt.month_name()
df['Discharge_Month'] = df['Discharge_Date'].dt.month_name()
df['Admissin_Year'] = df['Admission_Date'].dt.year
df['Discharge_Year'] = df['Discharge_Date'].dt.year
df['Admission_Weekday'] = df['Admission_Date'].dt.day_name()
df['Discharge_Weekday'] = df['Discharge_Date'].dt.day_name()
df

,Patient_ID,Admission_Date,Discharge_Date,Department,Doctor,Treatment_Cost,Patient_Type,Admission_Month,Discharge_Month,Admissin_Year,Discharge_Year,Admission_Weekday,Discharge_Weekday
0,PAT2000,2024-02-01,2024-02-02,General,Dr. Singh,5443.000000,Inpatient,February,February,2024,2024,Thursday,Friday
1,PAT2001,2024-02-02,2024-02-02,Orthopedics,Dr. Rao,27808.644595,Outpatient,February,February,2024,2024,Friday,Friday
2,PAT2002,2024-02-03,2024-02-03,Neurology,Dr. Rao,27808.644595,Outpatient,February,February,2024,2024,Saturday,Saturday
3,PAT2003,2024-02-04,2024-02-04,Cardiology,Dr. Mehta,27808.644595,Outpatient,February,February,2024,2024,Sunday,Sunday
4,PAT2004,2024-02-05,2024-02-19,Cardiology,Dr. Kumar,20368.000000,Inpatient,February,February,2024,2024,Monday,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,PAT2145,2024-06-25,2024-06-28,General,Dr. Kumar,45880.000000,Inpatient,June,June,2024,2024,Tuesday,Friday
146,PAT2146,2024-06-26,2024-06-29,Orthopedics,Dr. Singh,26236.000000,Inpatient,June,June,2024,2024,Wednesday,Saturday
147,PAT2147,2024-06-27,2024-07-06,Neurology,Dr. Singh,18358.000000,Inpatient,June,July,2024,2024,Thursday,Saturday
148,PAT2148,2024-06-28,2024-06-28,Neurology,Dr. Mehta,27808.644595,Outpatient,June,June,2024,2024,Friday,Friday
149,PAT2149,2024-06-29,2024-06-29,Orthopedics,Dr. Mehta,17596.000000,Outpatient,June,June,2024,2024,Saturday,Saturday

In [20]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [21]:
#creating two different columns for inpatient and outpatient status(help to calculate inpatient and outpatient count)
df['Is_Inpatient'] = (df['Patient_Type'] == 'Inpatient').astype(int)
df['Is_Outpatient'] = (df['Patient_Type'] == 'Outpatient').astype(int)
df

,Patient_ID,Admission_Date,Discharge_Date,Department,Doctor,Treatment_Cost,Patient_Type,Admission_Month,Discharge_Month,Admissin_Year,Discharge_Year,Admission_Weekday,Discharge_Weekday,Is_Inpatient,Is_Outpatient
0,PAT2000,2024-02-01,2024-02-02,General,Dr. Singh,5443.000000,Inpatient,February,February,2024,2024,Thursday,Friday,1,0
1,PAT2001,2024-02-02,2024-02-02,Orthopedics,Dr. Rao,27808.644595,Outpatient,February,February,2024,2024,Friday,Friday,0,1
2,PAT2002,2024-02-03,2024-02-03,Neurology,Dr. Rao,27808.644595,Outpatient,February,February,2024,2024,Saturday,Saturday,0,1
3,PAT2003,2024-02-04,2024-02-04,Cardiology,Dr. Mehta,27808.644595,Outpatient,February,February,2024,2024,Sunday,Sunday,0,1
4,PAT2004,2024-02-05,2024-02-19,Cardiology,Dr. Kumar,20368.000000,Inpatient,February,February,2024,2024,Monday,Monday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,PAT2145,2024-06-25,2024-06-28,General,Dr. Kumar,45880.000000,Inpatient,June,June,2024,2024,Tuesday,Friday,1,0
146,PAT2146,2024-06-26,2024-06-29,Orthopedics,Dr. Singh,26236.000000,Inpatient,June,June,2024,2024,Wednesday,Saturday,1,0
147,PAT2147,2024-06-27,2024-07-06,Neurology,Dr. Singh,18358.000000,Inpatient,June,July,2024,2024,Thursday,Saturday,1,0
148,PAT2148,2024-06-28,2024-06-28,Neurology,Dr. Mehta,27808.644595,Outpatient,June,June,2024,2024,Friday,Friday,0,1
149,PAT2149,2024-06-29,2024-06-29,Orthopedics,Dr. Mehta,17596.000000,Outpatient,June,June,2024,2024,Saturday,Saturday,0,1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         150 non-null    object
 1   Admission_Date     150 non-null    datetime64[ns]
 2   Discharge_Date     150 non-null    datetime64[ns]
 3   Department         150 non-null    object
 4   Doctor             150 non-null    object
 5   Treatment_Cost     150 non-null    float64
 6   Patient_Type       150 non-null    object
 7   Admission_Month    150 non-null    object
 8   Discharge_Month    150 non-null    object
 9   Admissin_Year      150 non-null    int32
 10  Discharge_Year     150 non-null    int32
 11  Admission_Weekday  150 non-null    object
 12  Discharge_Weekday  150 non-null    object
 13  Is_Inpatient       150 non-null    int64
 14  Is_Outpatient      150 non-null    int64
dtypes: datetime64[ns](2), float64(1), int32(2), int64(2), object(8)
memory usage: 16.5+ KB

In [30]:
df.to_csv("Hospital_Patient_Analytics_Updated.csv", index=False)